{% extends "layout.html" %}

{% block body %}
<div class="container bg-light p-4 rounded">
    <h1 class="mt-4 text-primary">Resimler</h1>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>Resim ID</th>
                <th>Başlık</th>
                <th>Resim</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for resim in resimler %}
            <tr>
                <td>{{ resim.id }}</td>
                <td>{{ resim.title }}</td>
                <td><img src="{{ resim.resim.url }}" alt="{{ resim.title }}" width="100"></td>
                <td>
                    <a href="{% url 'resim_up' resim.id %}" class="btn btn-danger btn-sm">Güncelle</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        <a href="/dashboard/" class="btn btn-secondary">Geri Dön</a>
    </div>
</div>
{% endblock body %}
